{{define "content"}}
<div class="tabs">
    <a href="/services/nails" class="tab-button">Ногтевой сервис</a>
    <a href="/services/hair" class="tab-button">Волосы</a>
    <a href="/services/lashes" class="tab-button">Ресницы</a>
    <a href="/services/brows" class="tab-button">Брови</a>
  </div>
  
<h1>Услуги по волосам</h1>

<div class="services">
    <div class="service">
        <img src="/assets/images/hair_1.jpeg" alt="Стрижка">
        <h3><a href="/services/description/haircuts">Модельные стрижки</a></h3>
        <p>Создайте уникальный стиль с нашими мастерами. Мы подчеркнём вашу индивидуальность.</p>
    </div>

    <div class="service">
        <img src="/assets/images/hair_6.jpeg" alt="Укладка">
        <h3><a href="/services/description/styling">Укладка</a></h3>
        <p>Мы создадим прическу, с которой вы будете блистать на любом мероприятии.</p>
    </div>

    <div class="service">
        <img src="/assets/images/hair_7.jpeg" alt="уход">
        <h3><a href="/services/description/hair_care">Профессиональный уход</a></h3>
        <p>Комплексные уходы для здоровья и восстановление структуры волос.</p>
    </div>

    <div class="service">
        <img src="/assets/images/hair_5.jpeg" alt="Биозавивка">
        <h3><a href="/services/description/curling">Биозавивка</a></h3>
        <p>Скорректируйте структуру волос и сделайте их кудрявыми, волнистыми, объемными.</p>
    </div>

    <div class="service">
        <img src="/assets/images/hair_2.jpeg" alt="Окрашивание в один тон">
        <h3><a href="/services/description/oloring">Окрашивание в один тон</a></h3>
        <p>Сольшой выбор оттенков, стойкость и качество гарантированы.</p>
    </div>

    <div class="service">
        <img src="/assets/images/hair_3.jpeg" alt="Сложное окрашивание">
        <h3><a href="/services/description/complex_coloring">Сложное окрашивание</a></h3>
        <p>Современные техники: аиртач, светлые пряди у лица, мелирование, колорирование.</p>
    </div>
    {{end}}