{{define "content"}}
<div class="tabs">
    <a href="/services/nails" class="tab-button">Ногтевой сервис</a>
    <a href="/services/hair" class="tab-button">Волосы</a>
    <a href="/services/lashes" class="tab-button">Ресницы</a>
    <a href="/services/brows" class="tab-button">Брови</a>
  </div>
  

<h1>Услуги по ресницам</h1>
<div class="services">
    <div class="service">
        <img src="/assets/images/lashes_1.jpeg" alt="Наращивание ресниц">

        <h3><a href="/services/description/eyelash_extensions">Наращивание ресниц</a></h3>
        <p>Создайте выразительный взгляд с нашими профессиональными мастерами.</p>
    </div>

    <div class="service">
        <img src="/assets/images/lashes_2.jpeg" alt="Ламинирование ресниц">
        <h3><a href="/services/description/lamination_lashes">Ламинирование ресниц</a></h3>
        <p>Подчеркните естественную длину и изгиб ваших ресниц, добавьте им сияния.</p>
    </div>

    <div class="service">
        <img src="/assets/images/lashes_3.jpeg" alt="Коррекция ресниц">
        <h3><a href="/services/description/lash_correction">Коррекция ресниц</a></h3>
        <p>Поддерживайте идеальный вид ресниц на протяжении длительного времени.</p>
    </div>

    <div class="service">
        <img src="/assets/images/lashes_4.jpeg" alt="Окрашивание ресниц">
        <h3><a href="/services/description/lash_coloring">Окрашивание ресниц</h3>
        <p>Добавьте выразительности глазам с помощью стойкого окрашивания.</p>
    </div>
</div>
{{end}}