<h1>Услуга ламинирования ресниц</h1>

<h2>Что такое ламинирование ресниц?</h2>
<p>Ламинирование ресниц — это процедура, которая позволяет сделать ваши ресницы более густыми, длинными и выразительными. В процессе ламинирования используется специальный состав, который обволакивает каждую ресницу и придаёт ей здоровый блеск.</p>


<div class="image-text-container ltft">
    <img src="/assets/images/lamination_lashes_1.jpg" alt="Наши преимущества">
    <div class="text-content">
        <h2>Преимущества ламинирования ресниц</h2>
        <ul>
            <li>Увеличение объёма и длины ресниц.</li>
            <li>Защита от повреждений и негативного воздействия внешней среды.</li>
            <li>Долговременный эффект (до 8 недель).</li>
            <li>Натуральный вид — результат выглядит естественно.</li>
            <li>Не требует ежедневного макияжа.</li>
        </ul>
    </div>
</div>

<div class="image-text-container right">
    <div class="text-content">
        <h2>Как проходит процедура?</h2>
        <p>Процедура ламинирования ресниц занимает около 1-1.5 часов и включает несколько этапов:</p>
        <ol>
            <li><strong>Подготовка:</strong> очищение ресниц от макияжа и жира.</li>
            <li><strong>Нанесение состава:</strong> на ресницы наносится специальный состав для ламинирования.</li>
            <li><strong>Фиксация:</strong> состав фиксируется с помощью специального средства.</li>
            <li><strong>Увлажнение:</strong> на ресницы наносится питательная сыворотка для ухода.</li>
        </ol>
    </div>
    <img src="/assets/images/lamination_lashes_2.jpg" alt="Этапы процедуры">
</div>


<h2>Рекомендации после процедуры</h2>
<p>Чтобы продлить эффект ламинирования, следуйте этим рекомендациям:</p>
<ul>
    <li>Избегайте контакта с водой в течение первых 24 часов.</li>
    <li>Не используйте водостойкую косметику.</li>
    <li>Регулярно ухаживайте за ресницами с помощью питательных масел.</li>
</ul>

<h2>Записаться на процедуру</h2>
<p>Для записи на процедуру ламинирования ресниц или получения дополнительной информации, пожалуйста, свяжитесь с нами по телефону или через форму обратной связи на нашем сайте.</p>

</div>

