<div class="tabs">
    <a href="/services/nails" class="tab-button">Ногтевой сервис</a>
    <a href="/services/hair" class="tab-button">Волосы</a>
    <a href="/services/lashes" class="tab-button">Ресницы</a>
    <a href="/services/brows" class="tab-button">Брови</a>
  </div>
  

<h1>Наши услуги по бровям</h1>

<div class="services">
    <div class="service">
        <img src="/assets/images/brows_1.jpeg" alt="Коррекция бровей">
        <h3><a href="/services/description/brow_correction">Коррекция бровей</a></h3>
        <p>Идеальная форма бровей, которая подчеркнёт естественную красоту вашего лица.</p>
    </div>

    <div class="service">
        <img src="/assets/images/brows_2.jpeg" alt="Окрашивание бровей">
        <h3><a href="/services/description/brow_tinting">Окрашивание бровей</a></h3>
        <p>Подбор оттенка краски и окрашивание, соответствующее вашему типу внешности.</p>
    </div>

    <div class="service">
        <img src="/assets/images/brows_3.jpeg" alt="Ламинирование бровей">
        <h3><a href="/services/description/brow_clamination">Ламинирование бровей</a></h3>
        <p>Придание бровям ухоженного вида и фиксация идеальной формы на долгое время.</p>
    </div>

    <div class="service">
        <img src="/assets/images/brows_4.jpeg" alt="Услуги микроблейдинга">
        <h3><a href="/services/description/microblading">Микроблейдинг</a></h3>
        <p>Тонкие нежные линии, имитирующие волоски, для создания естественных бровей.</p>
    </div>

</div>