{{define "content"}}
<div class="tabs">
    <a href="/services/nails" class="tab-button">Ногтевой сервис</a>
    <a href="/services/hair" class="tab-button">Волосы</a>
    <a href="/services/lashes" class="tab-button">Ресницы</a>
    <a href="/services/brows" class="tab-button">Брови</a>
  </div>
  

<h1>Ногтевой сервис</h1>

<div class="services">
    <div class="service">
        <img src="/assets/images/nails_1.jpeg" alt="Маникюр без покрытия">
        <h3><a href="/services/description/manicure_without">Маникюр без покрытия</a></h3>
        <p></p>
    </div>

    <div class="service">
        <img src="/assets/images/nails_2.jpeg" alt="Маникюр с покрытием">
        <h3><a href="/services/description/manicure_with">Маникюр с покрытием</a></h3>
        <p></p>
    </div>

    <div class="service">
        <img src="/assets/images/nails_3.jpeg" alt="Маникюр с наращиванием/перенаращиванием всех ногтей">
        <h3><a href="/services/description/nail_extensions">Маникюр с наращиванием/перенаращиванием всех ногтей</a></h3>
        <p></p>
    </div>

    <div class="service">
        <img src="/assets/images/nails_4.jpeg" alt="Педикюр без покрытия">
        <h3><a href="/services/description/pedicure_without">Педикюр без покрытия</a></h3>
        <p></p>
    </div>

    <div class="service">
        <img src="/assets/images/nails_5.jpeg" alt="Педикюр с покрытием">
        <h3><a href="/services/description/pedicure_with">Педикюр с покрытием</a></h3>
        <p></p>
    </div>

    <div class="service">
        <img src="/assets/images/nails_6.jpeg" alt="Уход">
        <h3><a href="/services/description/hand_care">Уход за кожей рук</a></h3>
        <p></p>
    </div>
{{end}}