<h1>О нас</h1>

<p><b>Наш салон — </b> это не просто место для процедур, это пространство, где заботятся о вашей красоте и комфорте.  
Мы создали атмосферу уюта и доверия, чтобы каждая процедура стала удовольствием.  

<br><b>Команда салона — </b> опытные мастера, которые регулярно повышают квалификацию, следят за самыми модными тенденциями и применяют их в работе. Мы используем только качественные материалы, чтобы ваши волосы, кожа и ногти были здоровыми и ухоженными.  

<br><b>Наша философия — </b> индивидуальный подход к каждому клиенту! Вы можете быть уверены, что получите именно тот результат, о котором мечтаете.  
<br>
<p><b>Гарантия безопасности</b></p>
    <ul>
        <li>Медицинская лицензия</li>
        <li>Специалисты с опытом и медицинским образованием</li>
        <li>Одноразовые халаты, простыни и инструменты, стерилизованные полотенца</li>
        <li>Только новые аппараты с регистрационным удостоверением</li>
    </ul>
</p>
<br>С нами ваша красота будет безупречной! </p>
