<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Услуги</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    {{ template "header" }}

    </header>

    <main>
        <h2>Мы предлагаем следующие услуги:</h2>
        <ul>
            <li>Услуга 1</li>
            <li>Услуга 2</li>
            <li>Услуга 3</li>
        </ul>
    </main>

    {{ template "footer" }}
    
</body>
</html>