<div class="tabs">
    <a href="/services/nails" class="tab-button">Ногтевой сервис</a>
    <a href="/services/hair" class="tab-button">Волосы</a>
    <a href="/services/lashes" class="tab-button">Ресницы</a>
    <a href="/services/brows" class="tab-button">Брови</a>
  </div>
  

  <h1>Добро пожаловать в наш центр!</h1>
  <p>Мы не просто предлагаем услуги – мы создаем комфорт, качество и заботу.</p>
</header>

<div class="hero">
  <h2>Индивидуальный подход и превосходное качество</h2>
</div>

<section class="section" id="about">
  <div>
      <img src="/assets/images/about1.jpeg" alt="О команде">
      <p>Наша команда профессионалов создаёт атмосферу полного доверия, заботы и уюта. Мы убеждены, что каждый клиент уникален, поэтому подбираем подход индивидуально. Наши услуги направлены на удовлетворение потребностей современного человека.</p>
  </div>
  <div>
      <img src="/assets/images/about2.jpeg" alt="Как мы работаем">
      <p>Используем только проверенные материалы и самое современное оборудование. Наши специалисты регулярно повышают квалификацию, чтобы предлагать вам самые эффективные и инновационные решения. Ваша радость и комфорт – наша цель!</p>
  </div>
</section>

<section class="section" id="advantages">
  <div>
      <img src="/assets/images/advantages1.jpeg" alt="Гарантия качества">


      <p>Мы гордимся своим качеством. Все процедуры выполняются с максимальной внимательностью к деталям. Доверьтесь нам и ощутите преимущества нашего сервиса.</p>
  </div>
  <div>
      <img src="/assets/images/advantages2.jpeg" alt="Уютная атмосфера">
      <p>Посещение нашего центра – это не просто получение услуги, это особая атмосфера, созданная специально для вашего расслабления и душевного комфорта.</p>
  </div>
  <div>
      <img src="/assets/images/advantages3.jpeg" alt="Индивидуальный подход">
      <p>Индивидуальный подход к каждому клиенту помогает нам предлагать то, что подходит именно вам. Мы стремимся превзойти ваши ожидания.</p>
  </div>
</section>
