{{define "content"}}
<h1>Добро пожаловать, {{.Username}}!</h1>

<h2>Записаться на услугу</h2>

{{if .Services}}
    <form action="/book" method="post">
        <label for="service_id">Выберите услугу:</label>
        <select name="service_id" id="service_id">
            {{range .Services}}
                <option value="{{.ID}}" {{if eq (printf "%d" .ID) $.SelectedServiceID}}selected{{end}}>{{.Name}} - {{.Price}} руб.</option>
            {{end}}
        </select>
        <br>

        <label for="booking_time">Время записи:</label>
        <input type="datetime-local" name="booking_time" id="booking_time" required>
        <br>

        <button type="submit">Записаться</button>
    </form>
{{else}}
    <p>Услуги временно недоступны.</p>
{{end}}

<h3>Мои записи:</h3>

<ul>
    {{if .Bookings}}
        {{range .Bookings}}
            <li>
                {{.Service.Name}} - {{.BookingTime}}
                <form method="POST" action="/delete-user-booking" style="display:inline;">
                    <input type="hidden" name="booking_id" value="{{.ID}}">
                    <button type="submit" onclick="return confirm('Вы уверены, что хотите удалить запись?');">Удалить</button>
                </form>
            </li>
        {{end}}
    {{else}}
        <p>У вас нет записей.</p>
    {{end}}
</ul>

<p><a href="/">Назад на главную</a></p>
<p><a href="/logout">Выйти</a></p>
{{end}} 