<h1>О нас</h1>
<p>Добро пожаловать в наш салон красоты — место, где сочетаются профессионализм, уют и индивидуальный подход к каждому клиенту.</p>
</section>

<div class="image-text-container ltft">
    <img src="/assets/images/our_team.jpg" alt="Команда салона">
    <div class="text-content">
        <h2>Кто мы?</h2>
        <p>Мы — команда профессионалов с многолетним опытом работы в индустрии красоты. Наша цель — делать наших клиентов счастливыми, помогая им выглядеть на все 100% каждый день.</p>
        <h2>Наша миссия</h2>
    <p>Мы стремимся создать пространство, где каждый почувствует себя комфортно и уверенно. В нашем салоне вы получите не только качественные услуги, но и заряд позитивных эмоций и хорошего настроения.</p>
    </div>
</div>
<h2>Почему выбирают нас?</h2>
<ul>
    <li>Современные техники и материалы премиум-класса.</li>
    <li>Опытные мастера, которые постоянно повышают квалификацию.</li>
    <li>Уютная атмосфера и индивидуальный подход к каждому клиенту.</li>
</ul>