{{define "content"}}
<h1>Наши контакты</h1>

<div class="contacts-container">
  <div class="contacts-info">
    <h2>Наши контакты</h2>
    <ul>
      <li>
        <i class="fas fa-map-marker-alt"></i>
        г. Ярославль, Московский проспект, 88
      </li>
      <li>
        <i class="fas fa-phone"></i>
        <a href="tel:+79999999999">+7 (999) 999-99-99</a>
      </li>
      <li>
        <i class="fab fa-whatsapp"></i>
        <a href="https://wa.me/79999999999" target="_blank">+7 (999) 999-99-99</a>
      </li>
      <li>
        <i class="fab fa-instagram"></i>
        <a href="https://instagram.com/mysupersalon" target="_blank">@mysupersalon</a>
      </li>
      <li>
        <i class="fas fa-clock"></i>
        Часы работы:<br>
        Пн-Сб: 8:00 – 20:00<br>
        Вс: 10:00 – 18:00
      </li>
    </ul>
  </div>

  <div class="contacts-map">
    <iframe 
        src="https://yandex.ru/map-widget/v1/?um=constructor%3A57.586895%2C39.855303&source=constructor" 
        width="100%" 
        height="400" 
        frameborder="0"
        allowfullscreen>
    </iframe>
  </div>
</div>
{{end}}