{{define "content"}}
<h1>Добро пожаловать в наш салон красоты!</h1>
<p>
Предлагаем широкий выбор услуг: маникюр, педикюр, окрашивание, стрижки,
ламинирование и наращивание ресниц, долговременная укладка и оформление
бровей.
</p>

<div class="image-text-container ltft">
<img src="/assets/images/home_1.jpeg" alt="Интерьер салона" />
<div class="text-content">
<h2>Почему выбирают нас?</h2>
<ul>
<li>
<h3>Качество:</h3>
Мы работаем только с профессиональной косметикой и современными
техниками.
</li>
<li>
<h3>Профессионализм:</h3>
Наши мастера — сертифицированные специалисты с большим опытом.
</li>
<li>
<h3>Индивидуальный подход:</h3>
Каждому клиенту мы подбираем услуги и процедуры с учетом всех
особенностей и пожеланий.
</li>
</ul>
</div>
</div>

<div class="image-text-container right">
<div class="text-content">
<h2>Подарите себе момент красоты и расслабления.</h2>
<p>
<b>Наша миссия</b> — подчеркнуть вашу индивидуальность и сделать так,
чтобы каждая встреча с зеркалом приносила радость.
</p>
<p>
Запишитесь прямо сейчас и почувствуйте, как легко быть красивой каждый
день!
</p>
</div>
<img src="/assets/images/home_2.jpeg" alt="Интерьер салона" />
</div>
{{end}}