{{define "content"}}
<h1>Наращивание ресниц</h1>
<h2>Красота в каждом взгляде</h2>

<div class="container">
<section>
    <h2>Об услуге</h2>
    <p><b>Наращивание ресниц</b> - это процедура, которая позволяет сделать ваш взгляд более выразительным, а ресницы густыми и длинными, без необходимости ежедневного нанесения туши. Мы используем только качественные материалы и работаем с разными техниками, чтобы удовлетворить пожелания каждой клиентки.</p>
</section>

<div class="image-text-container ltft">
    <img src="/assets/images/eyelash_extensions_1.jpg" alt="Наши преимущества">
    <div class="text-content">
        <h2>Наши преимущества</h2>
            <ul>
        <li>Индивидуальный подход к каждому клиенту</li>
        <li>Использование гипоаллергенных материалов</li>
        <li>Комфортная процедура, выполненная профессионалами</li>
        <li>Широкий выбор эффектов и техники наращивания</li>
        <li>Долговременный результат</li>
            </ul>
    </div>
</div>

<div class="image-text-container right">
    <div class="text-content">
        <h2>Этапы процедуры</h2>
            <ol>
                <li>Консультация и выбор подходящей формы и длины ресниц</li>
                <li>Подготовка ресниц к наращиванию</li>
                <li>Процесс наращивания, где каждая ресничка фиксируется отдельно</li>
                <li>Окончательная проверка и рекомендации мастера по уходу</li>
            </ol>
    </div>
    <img src="/assets/images/eyelash_extensions_2.jpg" alt="Этапы процедуры">
</div>

<div class="image-text-container ltft">
    <img src="/assets/images/eyelash_extensions_3.jpg" alt="Варианты наращивания">
    <div class="text-content">
        <h2>Варианты наращивания</h2>
        <ul>
            <li>Классическое наращивание – для естественного эффекта</li>
            <li>2D/3D-объемное наращивание – для создания густоты</li>
            <li>Лисий/беличий эффект – для акцента на внешнем уголке глаза</li>
            <li>Голливудский объем – для смелого и яркого образа</li>
        </ul>
    </div>
</div>


<div class="image-text-container right">
    <div class="text-content">
        <h2>После наращивания ресниц</h2>
             <p>Чтобы поддерживать ресницы в идеальном состоянии, важно избегать:</p>
                <ul>
                    <li>Косметики на масляной основе</li>
                    <li>Трений вокруг глаз</li>
                    <li>Посещения сауны или бассейна в первые 24 часа</li>
                </ul>
    <p>Рекомендуется делать коррекцию каждые 3-4 недели для сохранения результата.</p>
    </div>
    <img src="/assets/images/eyelash_extensions_4.jpg" alt="После наращивания ресниц">
</div>

<div class="cta">
    <p><strong>Запишитесь на процедуру уже сегодня и подарите себе идеальный взгляд!</strong></p>
</div>
</div>
{{end}} 
