<h1>Услуга модельных стрижек</h1>

<p>Модельная стрижка — это индивидуальный процесс создания стильного, аккуратного и современного образа с учетом особенностей вашего лица, структуры волос и ваших предпочтений.</p>

<div class="image-text-container ltft">
    <img src="/assets/images/modelhaircut1.jpg" alt="Наши преимущества">
    <div class="text-content">
        <h3>Что такое модельные стрижки?</h3>
            <p>Преимущества модельных стрижек</p>
        <ul>
            <li>Подчеркивание индивидуального стиля и образа.</li>
            <li>Идеально подходит для любых типов и длин волос.</li>
            <li>Обеспечивает ухоженный и модный внешний вид.</li>
            <li>Возможность экспериментировать с новыми трендами.</li>
        </ul>
    </div>
</div>

<div class="image-text-container right">
    <div class="text-content">
        <h3>Как проходит процедура?</h3>
        <p>Создание модельной стрижки — это подробный процесс, включающий следующие этапы:</p>
        <ol>
            <li><strong>Консультация:</strong> мастер обсуждает с вами желания, стиль и оценивает структуру волос.</li>
            <li><strong>Подготовка:</strong> волосы моются и подготавливаются к процессу.</li>
            <li><strong>Стрижка:</strong> используется профессиональная техника для достижения идеального результата.</li>
            <li><strong>Финальная укладка:</strong> завершение образа с помощью укладочных средств и легкой фиксации.</li>
        </ol>
    </div>
    <img src="/assets/images/modelhaircut2.jpg" alt="Этапы процедуры">
</div>

<div class="image-text-container ltft">
    <img src="/assets/images/modelhaircut3.jpg" alt="Наши преимущества">
    <div class="text-content">
        <h3>Советы по уходу после стрижки</h3>
        <ul>
            <li>Используйте подходящие для вашего типа волос шампуни и кондиционеры.</li>
            <li>Регулярно подстригайте кончики, чтобы сохранять форму стрижки.</li>
            <li>При необходимости используйте термозащитные средства перед укладкой.</li>
        </ul>
    </div>
</div>

Записаться на процедуру
<p>Чтобы сделать модельную стрижку или получить консультацию специалиста, свяжитесь с нами по телефону или оставьте заявку через форму на нашем сайте.</p>