<h1>Услуга коррекции ресниц</h1>

<div class="image-text-container ltft">
    <img src="/assets/images/eyelash_correction_1.jpg" alt="Наши преимущества">
    <div class="text-content">
        <h2>Что такое коррекция ресниц?</h2>
        <p>Коррекция ресниц — это процедура, которая позволяет поддерживать идеальный вид наращенных ресниц. С течением времени некоторые ресницы могут выпадать или терять свою форму, и коррекция помогает восстановить их первоначальный вид.</p>

        <h2>Преимущества коррекции ресниц</h2>
        <ul>
            <li>Поддержание эстетического вида наращенных ресниц.</li>
            <li>Устранение пустот и неравномерностей.</li>
            <li>Продление срока службы наращенных ресниц.</li>
            <li>Возможность изменения длины и объёма ресниц.</li>
        </ul>
</div>
</div>

<div class="image-text-container right">
    <div class="text-content">
        <h2>Как проходит процедура?</h2>
        <p>Процедура коррекции ресниц занимает около 1-2 часов и включает несколько этапов:</p>
        <ol>
            <li><strong>Оценка состояния:</strong> мастер осматривает ваши ресницы и определяет необходимость коррекции.</li>
            <li><strong>Удаление старых ресниц:</strong> при необходимости удаляются поврежденные или выпавшие ресницы.</li>
            <li><strong>Наращивание:</strong> новые ресницы приклеиваются к натуральным, обеспечивая равномерный и естественный вид.</li>
            <li><strong>Финальная обработка:</strong> мастер проверяет результат и делает последние штрихи для идеального вида.</li>
        </ol>
    </div>
    <img src="/assets/images/eyelash_correction_2.jpg" alt="Этапы процедуры">
</div>

<div class="image-text-container ltft">
    <img src="/assets/images/eyelash_correction_3.jpg" alt="Наши преимущества">
    <div class="text-content">
        <h2>Рекомендации после процедуры</h2>
          <ul>
            <li>Избегайте контакта с водой в течение первых 24 часов после процедуры.</li>
            <li>Не используйте жирные средства для снятия макияжа.</li>
            <li>Регулярно посещайте мастера для коррекции каждые 2-4 недели.</li>
        </ul>
    </div>
</div>


    <h2>Записаться на процедуру</h2>
    <p>Для записи на процедуру коррекции ресниц или получения дополнительной информации, пожалуйста, свяжитесь с нами по телефону или через форму обратной связи на нашем сайте.</p>
