{{define "content"}}
<h1>Услуга укладки волос</h1>
<p>Укладка волос — это профессиональная услуга, позволяющая создать идеальный образ для повседневной жизни или особого случая. Процедура подчеркивает красоту ваших волос, делает их блестящими и аккуратными, фиксируя прическу на долгое время.</p>

<div class="image-text-container ltft">
    <img src="/assets/images/hairstyling1.jpg" alt="Наши преимущества">
    <div class="text-content">
        <h3>Что такое укладка волос?</h3>
        Преимущества профессиональной укладки
        <ul>
            <li>Идеальная прическа для любого мероприятия или события.</li>
            <li>Возможность создать объем, текстуру или изящные волны, подходящие под ваш стиль.</li>
            <li>Долговременная фиксация без повреждения структуры волос.</li>
            <li>Использование профессиональной косметики для защиты и блеска.</li>
        </ul>
    </div>
</div>

<div class="image-text-container right">
    <div class="text-content">
        <h3>Как проходит процедура?</h3>
        <p>Процесс укладки волос состоит из нескольких ключевых этапов:</p>
        <ol>
            <li><strong>Подготовка:</strong> мастер очищает волосы с использованием профессиональных шампуней и кондиционеров.</li>
            <li><strong>Выбор стиля:</strong> обсуждается желаемая прическа — от классических гладких волос до объемных локонов.</li>
            <li><strong>Укладка:</strong> мастер использует инструменты и стайлинговые средства, чтобы достичь идеального результата.</li>
            <li><strong>Финальная фиксация:</strong> волосы обрабатываются спреем или другими средствами для долговременного эффекта.</li>
        </ol>
    </div>
    <img src="/assets/images/hairstyling2.jpg" alt="Этапы процедуры">
</div>

<div class="image-text-container ltft">
    <img src="/assets/images/hairstyling3.jpg" alt="Наши преимущества">
    <div class="text-content">
        <h3>Рекомендации по уходу после укладки</h3>
        <ul>
            <li>Избегайте увлажнения волос в течение первых нескольких часов после процедуры.</li>
            <li>Используйте щадящие укладки и расчески для сохранения формы стиля.</li>
            <li>При необходимости освежайте вид волос с помощью легких стайлинговых спреев.</li>
        </ul>
    </div>
</div>

<p>Для записи на услугу используйте личный кабинет или свяжитесь с нами по телефону</p>
{{end}}